<div class="container container_center">
  <form action="/chat">
    {{#Card}}
      {{#CardHeader}}
        <span>Регистрация</span>
      {{/CardHeader}}
      {{#CardBody}}
        {{{Input type="text"
                 name="login"
                 placeholder="Логин"
        }}}
        {{{Input type="text"
                 name="first_name"
                 placeholder="Имя"
        }}}
        {{{Input type="text"
                 name="last_name"
                 placeholder="Фамилия"
        }}}
        {{{Input type="email"
                 name="email"
                 placeholder="Почта"
        }}}
        {{{Input type="text"
                 name="phone"
                 placeholder="Телефон"
        }}}
        {{{Input type="password"
                 name="password"
                 placeholder="Пароль"
        }}}
<!--        {{{Input type="password"
                 name="password_confirm"
                 placeholder="Повторите пароль"
        }}}-->
      {{/CardBody}}
      {{#CardFooter}}
        {{#Button}}Создать{{/Button}}
        {{#Link href="/login"}}У меня есть аккаунт{{/Link}}
      {{/CardFooter}}
    {{/Card}}
  </form>
</div>
