<div class="chat">
  {{#if currentChat}}
    <div class="chat__header">
      <div class="chat__info">
        <div class="chat-item__avatar"></div>
        <span>{{currentChat.title}}</span>
      </div>
      {{#Trigger openModal="chatSettings"}}
        <div class="chat__icon">
          {{{icons.chat_settings}}}
        </div>
      {{/Trigger}}
    </div>
      {{{Messages messages=messages}}}
    <div class="chat__footer">
      {{{Input name="message" className="chat__message" placeholder="Сообщение" ref="send_message"}}}
      {{#Trigger onClick=sendMessage className="chat__icon"}}
        {{{icons.send}}}
      {{/Trigger}}
    </div>
  {{else}}
    <div class="container container_center container_middle">
      {{#Label theme="secondary" size="large"}}
        Выберите чат
      {{/Label}}
    </div>
  {{/if}}

  {{#Modal modal="chatSettings" title=currentChat.title}}
    {{#ModalBody}}
      {{{InputBox type="text"
                  name="login"
                  placeholder="Введите логин пользователя"
                  minLength=3
                  maxLength=30
                  regex="/^(?=.*[a-z]+)(?=.*[\d]{0,})[a-z0-9\-_]+$/i"
                  error="От 3 до 20 символов, латиница, без спец символов"
      }}}
      {{{Button label="Добавить пользователя" className="bordered" size="small" onClick=addUser}}}

    <div class="chat__user-list">
      {{#each currentChat.users}}
        {{{UserItem user=this}}}
      {{/each}}
    </div>
    {{/ModalBody}}
    {{#ModalFooter}}
      {{{Button label="Удалить чат" theme="danger" onClick=deleteChat}}}
    {{/ModalFooter}}
  {{/Modal}}
</div>
