<div class="chat">
  <div class="chat__header">
    <div class="chat__info">
      <div class="chat-item__avatar"></div>
      <span>{{current_chat}}</span>
    </div>
    <svg class="chat__icon" viewBox="0 0 48 48" aria-label="settings">
      <use href="{{icons.chat_settings}}"/>
    </svg>
  </div>
  <div class="chat__body">
    {{#each messages}}
      {{{Message message=this}}}
    {{/each}}
  </div>
  <div class="chat__footer">
    <svg class="icon__clip chat__icon" viewBox="0 0 48 48" aria-label="clip">
      <use href="{{icons.clip}}"/>
    </svg>
    <textarea name="message" rows="1" class="chat__message" title="Напишите сообщение" placeholder="Сообщение"></textarea>
    <svg class="chat__icon" viewBox="0 0 48 48" aria-label="send">
      <use href="{{icons.send}}"/>
    </svg>
  </div>
</div>
