<div class="chat__body">
  {{#if loading}}
    {{{Spinner}}}
  {{else}}
    <div class="message__list">
      {{#each messages}}
        <div class="message {{#if this.own}}message_own{{/if}}">
          <div class="message__block {{#if this.data.sticker}}message__block_sticker{{/if}} {{#if this.own}}message__block_own{{/if}}">
            <span class="message__author">
              {{#if this.senderName}}
                {{ this.senderName }}
              {{else}}
                DELETED
              {{/if}}
            </span>
            <div class="message-data">
              {{#if this.data.sticker}}
                <div class="message__sticker"></div>
              {{else}}
                {{#if this.content}}
                  <span class="message-data__text">
                    {{ this.content }}
                  </span>
                {{/if}}
                {{#if this.data.media}}
                  <span class="message-data__media">
                    {{ this.data.media }}
                  </span>
                {{/if}}
              {{/if}}
            </div>
            <div class="message__info">
              <time class="message__date">{{ this.date }}</time>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
